doctype html
html(lang="en")
    include common/_head.pug
    body 
        .wrapper
            include common/_header.pug
            include common/_content.pug    
            include common/_footer.pug
        include common/_popup.pug
        include common/_js.pug
